.PathFinder {
   display: grid;
   grid-template-columns: 1fr 2.2fr;
   height: 87.5vh;
}

.Grid {
   background-color: #c3e5f3;
   height: max-content;
   width: max-content;
   border: 1px solid hsl(197, 67%, 86%);
   color: #9e9e9e;
   margin: 0 auto;
}

.GridContainer {
   height: 100%;
   padding: 9rem;
   width: 100%;
   height: 87.5vh;

}

.ControlsContainer {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   box-sizing: border-box;
   padding: 7rem
}

.About {
   margin-top: 3rem;
   line-height: 1.7;
}

.SliderTitle {
   margin: 3rem 1rem 1rem;
} 

@media only screen and (max-width: 1000px) {
   .PathFinder {
      display: block;
   }
   .GridContainer {
      height: 40rem;
      padding: 2rem 4rem;
   }
   .ControlsContainer {
      padding: 2rem;
   }
}