.Toolbar {
	height: 12.5vh;
	background-color: rgb(3, 71, 98);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 9vw;
	box-shadow: 8px 9px -5px rgba(0, 0, 0, 0.2), 0px 15px 22px 2px rgba(0, 0, 0, 0.14),
		0px 6px 28px 5px rgba(0, 0, 0, 0.12);
	position: sticky;
	z-index: 1000;
	top: 0;
	font-size: 1.3rem;
}

.Logo {
   cursor: pointer;
}

.LinksContainer {
	height: 100%;
	display: flex;
}

.Link {
	display: inline-block;
	padding: 0 2vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	border-bottom: 0.3rem solid transparent;
	transition: all 0.2s ease-in;
	outline: none;
	text-decoration: none;
	color: white;
}

.Link:hover {
	border-bottom: 0.3rem #ee4266 solid;
}

@media only screen and (max-width: 1000px) {
   
   .Toolbar {
		padding: 0 2rem;
		height: 11vh;
	}

	.Logo {
		width: 70px;
	}
}
