*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.4rem;
	box-sizing: border-box;
	position: relative;
	background-color: #fafafa;
	font-family: 'Work Sans', sans-serif;
	overflow-y: scroll;
	margin: 0 auto;
}



sup, sub {
	vertical-align: baseline;
	position: relative;
	top: -0.4em;
 }
 sub { 
	top: 0.4em; 
 }
 
 