.Sorter {
   display: grid;
   grid-template-columns: 1fr 2.2fr;
   height: 87.5vh;

}



.ControlsContainer {
   grid-column: 1 / 2;
   grid-row: 1 / 2;
   box-sizing: border-box;
   padding: 7rem
}

.Graph {
   height: 100%;
   padding: 9rem;
   padding-bottom: 0;
   border-bottom: 2px solid #05668d;
   box-shadow: 0 0 .5em #c3e5f3;
}
.GraphContainer {
   padding-bottom: 9rem;
}

.SliderTitle {
   margin: 3rem 1rem 1rem;
}

.About {
   margin-top: 3rem;
   line-height: 1.7;
}

@media only screen and (max-width: 1000px) {
   .Sorter {
      display: block;
   }
   .GraphContainer {
      height: 40rem;
      padding-bottom: 2rem;

   }
   .Graph {
      padding: 2rem 4rem;
      padding-bottom: 0;
   }

   .ControlsContainer {
      padding: 2rem;
   }
}